main, header, article{
    border: 1px solid black;
    max-width: 1000px;
}

main{
    margin: auto;
}

nav{
    background-color: lightskyblue;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
    background-color: black;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  ul li:hover {
    background-color: lightblue;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

